* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 30px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-page {
  .navbar {
    background-color: #2f2f2f;

    height: 60px;

    h3,
    h5 {
      color: #fff;
      margin: 0;
      padding: 0;
    }
    .Avatar {
      display: flex;
      align-items: center;
      h5 {
        margin-right: 5px;
      }
    }
  }
}

.login-page {
  widows: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-page {
  background-color: red;
  .ant-input {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  .search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }

  .input-title {
    border: none !important;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    padding: 0;
  }

  .ql-editor {
    padding: 0;
  }
}
